@{
    ViewData["Title"] = "Contacts Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <div class="containerForm">
        <form method="post" enctype="multipart/form-data" asp-controller="Contacts" asp-action="Create">
            <fieldset>
                <legend>New User Registration</legend>
                <label for="fname">First name:</label>
                <input type="text" id="firstName" name="firstName"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lastName" name="lastName"><br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                <button>Submit</button>
            </fieldset>
        </form>

        <p>@ViewBag.CurrentUser</p>
    </div>
</div>

<style>
    .containerForm {
        margin:auto;
        width: 50%;
        text-align: left;
    }
</style>

